[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/LalaUser
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/LalaUser
	label-Verified = -1..+1 group user/LalaUser
	push = group user/LalaUser
	read = group user/LalaUser
	rebase = group user/LalaUser
	removeReviewer = group user/LalaUser
	submit = group user/LalaUser
[access "refs/heads/*"]
	create = group user/LalaUser
	push = +force group user/LalaUser
	pushMerge = group user/LalaUser
	read = group user/LalaUser
[access "refs/tags/*"]
	push = group user/LalaUser
	push = +force group user/LalaUser
